#XfceNotifyWindow {
    background-color: #322F22;
    /*border-radius: 0px;*/
    border: 1px solid #322F22;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-family: Roboto;
    font-size: 12;
    color: #ffffff;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color : #C5A68E;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color : #84A271;
}

#XfceNotifyWindow progressbar {
    /*border-radius: 0px;*/
}

#XfceNotifyWindow progressbar progress {
    min-height: 7px;
    background-image: none;
    background-color: shade(#ffffff, 1.2);
}

#XfceNotifyWindow progressbar trough {
    min-height: 7px;
    background-image: none;
    background-color: #84A271;
    border: 0px solid shade(#84A271, 0.6);
    /*border-radius: 0px;*/
}
